:root{
    --color-primary: #fff;
    --color-secondary: #000;
    --color-tertiary: skyblue;

}

.navbar-dark .navbar-brand{
    color: var(--color-tertiary);
}
.navbar-dark .navbar-brand:hover{
    color: var(--color-primary);
    text-shadow:
            0 0 6px rgba(202,228,225,0.92),
            0 0 30px rgba(202,228,225,0.34),
            0 0 12px rgba(30,132,242,0.52),
            0 0 21px rgba(30,132,242,0.92),
            0 0 34px rgba(30,132,242,0.78),
            0 0 54px rgba(30,132,242,0.92);
}
