{% extends 'layout.html.twig' %}

{% import 'form.html.twig' as from %}

{% block head %}
<title>Me contacter</title>.
{% endblock %}


{% block content %}
    <h1>Me contacter</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

    <div class="centerForm">
        <form method="post" action="">
            <p>
                <label for="pseudoContact">Pseudo</label><br>
                <input type="text" placeholder="Votre pseudo" id="pseudoContact"
                       name="pseudoContact" value="{{ pseudoContact }}" class="form-control">
            </p>
            <p>
                <label for="emailContact">Email</label>
                <input type="email" placeholder="Votre adresse email" id="emailContact"
                       name="emailContact" value="{{ emailContact }}" class="form-control">
            </p>
            <p>
                <label for="messageTitle">Titre</label><br>
                <input type="text" name="messageTitle" id="messageTitle" value="{{ messageTitle }}" class="form-control">
            </p>
            <p>
                <label for="messageContent">Votre message</label><br>
                <textarea name="messageContent" id="messageContent" cols="30" rows="8"
                          class="form-control">{{ messageContent }}</textarea>
            </p>
            <br>
            <p>
                <button type="submit" class="btn btn-success">Envoyer</button>
            </p>
        </form>
    </div>

{% endblock %}