{% extends 'layout.html.twig' %}

{% import 'form.html.twig' as from %}

{% block head %}
<title>Me contacter</title>.
{% endblock %}


{% block content %}
    <h1>Me contacter</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

    <form action="?p=contact" method="post">
        <div class="row">
            {{ form.input('name', 'Votre nom', {class: 'col-xs'}) }}
            {{ form.input('email', 'Votre email', {class: 'col-xs'}) }}
        </div>

        {{ form.textarea('message', 'Votre message') }}
        <div class="form-group">
            <button class="btn btn-primary"> Envoyer</button>
        </div>
    </form>

{% endblock %}