{% extends 'layout.html.twig' %}


{% block head %}
    <title>Nouvel article</title>.
{% endblock %}


{% block content %}
    <h2>Nouvel Article</h2>
    <br>
    <hr class="star-primary">
    <br>
    <div class="centerForm">
        <form method="post" action="/?p=addArticle">
            <input type="hidden" name="add" value="1">
            <p>
                <label for="title">Titre</label><br>
                <input type="text" name="title" id="title" value="{{ articleTitle }}" class="form-control">
            </p>
            <p>
                <label for="content">Contenu de l'article</label><br>
                <textarea name="content" id="content" cols="30" rows="8"
                          class="form-control">{{ articleContent }}</textarea>
            </p>
            <p>
                <label for="summary">Résumé de l'article</label><br>
                <textarea name="summary" id="summary" cols="12"
                          rows="8" class="form-control">{{ articleSummary }}</textarea>
            </p>
            {% if articleSubmitted == false %}
                <p>
                    <button type="submit" class="btn btn-success"> Créer l'article</button>
                </p>
            {% endif %}
        </form>
    </div>
{% endblock %}
