{% extends "_layout.html.twig" %}

{% block head %}
    <title>Les articles</title>.
{% endblock %}

{% block content %}
    <h1 align="center">Liste des articles</h1>
    {% block article %}
        {% for article in articles %}
            <h3 class="card-title">{{ article.title }}</h3>
            <h5>Résumé de l'article:</h5>
            <p>{{ article.summary }}</p>
            <a href="articles/{{ article.id }}"> Lire l'article</a>
        {% endfor %}
    {% endblock  article %}

{% endblock %}
