{% extends "layout.html.twig" %}

{% block head %}
    <title>Les articles</title>.
{% endblock %}

{% block content %}
    <h1>Listing-page</h1>
    {% block article %}
        {% for article in articles %}
            <h4 class="card-title">{{ article.title }}</h4>
            <p>{{ article.summary }}</p>
            <a href="?p=detailsArticle&id={{ article.id }}"> Lire l'article</a>
        {% endfor %}
    {% endblock  article %}

{% endblock %}