{% extends "_layout.html.twig" %}

{% block head %}
    <title>Déconnexion</title>
{% endblock %}

{% block content %}
    <div class="logout">
    <p>Vous êtes bien déconnecté.</p>
    </div>
{% endblock %}