{% extends "_layout.html.twig" %}

{% block head %}
    <title>Inscription</title>
{% endblock %}


{% block content %}
    <div class="formRegister" align="center">
        <h2>Inscription</h2>
        <hr class="star-primary">
        <br>

        <form method="post" action="">
            <input type="hidden" name="add" value="1">
            <p>
                <label for="pseudo">Pseudo :</label><br>
                <input type="text" placeholder="Votre pseudo" id="pseudoRegister"
                       name="pseudoRegister" value="{{ pseudoRegister }}" class="form-control">
            </p>
            <p>
                <label for="email">Email :</label>
                <input type="email" placeholder="Votre adresse email" id="emailRegister"
                       name="emailRegister" value="{{ emailRegister }}" class="form-control">
            </p>
            <p>
                <label for="email2">Confirmation de l'email :</label>

                <input type="email" placeholder="Confirmez votre email" id="email2Register"
                       name="email2Register" value="{{ email2Register }}" class="form-control">
            </p>
            <p>
                <label for="password">Mot de passe :</label>
                <input type="password" placeholder="Votre mot de passe" id="passwordRegister" name="passwordRegister"
                       class="form-control">
            </p>
            <p>
                <label for="password2">Confirmation du mot de passe :</label>
                <input type="password" placeholder="Confirmez votre mdp" id="password2Register" name="password2Register"
                       class="form-control">
            </p>
            <br>
            <p>
                <button type="submit" class="btn btn-success"> Je m'inscrit</button>
            </p>
        </form>
        <br>
    </div>

{% endblock %}



