{% extends 'layout.html.twig' %}

{% block head %}
    <title>Liste des membres</title>.
{% endblock %}

{% block content %}
    <h1>Liste des membres</h1>
    {% block users %}
        {% for user in viewUsers %}
            <h4 class="card-title">{{ user.pseudo }}</h4>
            <p>{{ user.email }}</p>
            <p>Rôle du membre (0 = utilisateur; 1=admin) : {{ user.is_admin }}</p>
            <a href="?p=profil&id={{ user.id }}">Voir son profil </a>
        {% endfor %}
    {% endblock users %}

{% endblock %}